<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- to include css bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />
  <!-- FlatPicker for date and time inputs -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">


  
  <link rel="stylesheet" href="../static/style.css">
  <title>Document</title>
  <style>
  </style>
  <style>
    /* body::before {
    display: block;
    content: '';
    height: 60px;
} */

/* body{
  overflow: clip;
} */

/* body::before {
    display: block;
    content: '';
    height: 60px;
} */
/* @media (min-width: 768px){
    #sideNavToggle {
        display: none;
    }
}

/*  */
@media (max-width: 768px){
    #sideNav {
        display: none;
    }
    /* #mainContentForm {
      padding: 0;
    } */
    #timeInput {
      margin-top: 5%;
    }
} */

#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

@media (max-width: 576px){
    #sidebar-wrapper {
        padding: .5rem;
        box-sizing: border-box;
    }
}
   #myModal .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 50px;
    top:88px;
}
#navModal .modal-dialog {
    position: fixed;
    margin: 0px;
    width: 125px;
    height: 100%;
    left: 0px;
    top:88px;
}




  </style>
  
</head>

<body>
  <!-- NavBar -->
  

  <!-- Navbar -->
    <nav class="navbar bg-secondary navbar-dark py-3">
      <div class="container-fluid ">
          <h1><a href="#home" class="col-sm-6 col-md-6 col-lg-11 navbar-brand text-warning"><span class="i bi-alarm-fill">  Remind Me!</span></a></h1>
          <button class="navbar-toggler text-warning" 
                  type="button" 
                  data-bs-toggle="modal" 
                  data-bs-target="#myModal"
                  > 
                  <h3><span class="i bi-arrow-right"></span></h3>
          </button>
          <!-- <button class="navbar-toggler " 
                  type="button" 
                  data-bs-toggle="modal" 
                  data-bs-target="#navModal"
                  > 
                  <h3><span class="i bi-person-lines-fill"></span></h3>
          </button> -->
          <!-- <div class="col-1 bg-dark text-light"><h3> Log out<span class="i bi-arrow-right-square-fill"></span></h3></div> -->
          
       </div>
      </nav>
       <!-- main page body -->
      <section>
        <!-- Side Navbar -->
        <div class="row me-0 mb-0 vh-100">
        <div id="sideNav" class="col-lg-2 col-md-2 col-sm-2 col-4 p-1 bg-dark ">
          <!-- <hr> -->
          <ul class="nav nav-pills mb-auto">
            <!-- <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <svg class="bi me-2" width="16" height="16"></svg>
                Home
              </a>
            </li>
            <hr> -->
            <li>
              <a href="#" class="nav-link link-light">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
              </a>
            </li>
            <hr>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Reminders
              </a>
            </li>
            <hr>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Profile
              </a>
            </li>
            <hr>
          </ul>
          <hr>
          <!-- <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div> -->
        </div>
        <div id="mainContent" class="col-lg-10 col-md-10 col-sm-10 col-12 bg-secondary bg-gradient p-1">
          <!-- <button id="sideNavToggle"class=".d-none navbar-button bg-dark" 
            type="button" 
            onclick="toggleDiv()"
            > 
            <h1><span class="i bi-arrow-left-circle-fill text-light"></span></h1>
          </button> -->
             <!-- Boxes -->
   <section id= "mainContentForm" class="p-4">
    <div class="container">
        <div class="row g-2">
            <div class="col">
                <div class="card bg-secondary text-light">   
                <h1 class="p-1">Reminders here</h1>   
                <table class="table table-dark table-hover">
				                
				    <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Reminder</th>
				      <th scope="col">Date</th>
				      <th scope="col">Time</th>
				      <th scope="col">Status</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr scope="row" th:each="ReminderForm : ${RemindersForm}">
					<td th:text="${ReminderFormStat.index + 1}">Title</td>
               		<td th:text="${ReminderForm.title}">Title</td>
                	<td th:text="${ReminderForm.dateInRegularFormat}">Date</td>
                	<td th:text="${ReminderForm.timeInRegularFormat}">Time</td>
                	<td th:text="${ReminderForm.remiderStatus}">Time</td>
                <!-- <td th:text="${ReminderForm.status}">Status</td> -->
                <!-- <td> -->
                   <!--  <a class="btn btn-primary" href="#" th:href="@{/customers/{id}(id=${customer.id})}">Details</a> -->
                <!-- </td> -->
           			</tr>
				  </tbody>
    			</table>
    
                </div>
            </div>

        </div>
    </div>
   </section>
          
        </div>
      </div>
      
      </section>
   
          
          <!-- Main body right -->
    <section>
      
    </section>

    <!-- Left Side Navigation for Small Screens -->
    <!-- <section>
      <div class="modal left" id="navModal" tabindex="-1" aria-labelledby="sideNavLabel" aria-hidden="true">
        <div class="modal-dialog ">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
            <h5 class="col-12 modal-title text-center" id="exampleModalLabel">Sign In</h5>
            </div>
            <div class="modal-body">
                
            </div>
            </div>
            </div>
            </div>
    </section> -->
	  <!-- to include js and jQuery bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Flatpicker js -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      var myModal = new bootstrap.Modal(document.getElementById('myModal'), {})
        // myModal.toggle();

        function toggleDiv(){
          var x = document.getElementById("sideNav");
          var y = document.getElementById("mainContent");
          
          // if (x.style.display === "none") {
          //   x.style.display = "block";
          // } else {
          //   x.style.display = "none";
          //   y.style.height = "960px";
          //   y.style.width = "90%";
          // }
          }
    </script>
    <script type="text/javascript">
      config1 = {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        disableMobile: "true"
      }
      config2 = {
          altInput: true,
          enableTime: true,
          noCalendar: true,
          dateFormat: "H:i",
          altFormat: "h: i K",
          time_24hr: false,
          disableMobile: "true"
      }
      var dateInputFp = flatpickr("#dateInputFp", config1);
      dateInputFp._input.setAttribute( 'disabled', 'disabled');
      var timeInputFp = flatpickr("#timeInputFp", config2);
      timeInputFp._input.setAttribute( 'disabled', 'disabled');
      
      function deleteRemider(){
    	  
    	  var reminderId = $("#deleteButton").val()
    	  if (confirm("Are you sure?")) {
    		  $.ajax({
          	  	
          	    type : "DELETE",
          	    url : "/reminders/" + reminderId,
          	    contentType: "application/json",
          	    dataType : 'json',
          	    success: function (result) {       
          	    	      console.log(result);
          	    	      window.location.replace("localhost:8080/reminders");
          	    },
          	    error: function (e) {
          	        console.log(e);
          	        window.location.replace("http://localhost:8080/reminders");
          	    }
          	})
    	  }   
      }
      function reminderEdit(){
    	  //enabled edit forms
    	editEnabled(true);
    	  // change edit to save
    	const editButton = document.getElementById('editButton');
        /* editButton.type = "submit"; */
        editButton.innerText= "Save";
        editButton.setAttribute('onClick', "saveReminder()");
    	  //change delete to discard
    	const deleteButton = document.getElementById('deleteButton');
    	deleteButton.innerText = "Discard"
    	deleteButton.setAttribute('onClick', "javascript: cancelEdit();");
    	  // add submit parameter to form
    	  
    	  //editEnabled = true;
    	  //console.log("before"+editEnabled);
    	  //editEnabled = new Boolean(true);
    	//console.log(editEnabled);
    	
    	
      }
      
      function saveReminder(){
    	  const editButton = document.getElementById('editButton');
    	  if(confirm("Are you sure want to save these changes?")){
    		  editButton.setAttribute('onClick',  "javascript: submit();");
    		  editButton.type = "submit";
    	  }
      }
      
      function cancelEdit(){
    	  const deleteButton = document.getElementById('deleteButton');
    	  if(confirm("Are you sure want to discard changes?")){
    		  window.location.replace("http://localhost:8080/reminders/" + $("#deleteButton").val());
    	  }
      }
      
      function editEnabled(enabled){
    	  //console.log($('#title').prop('disabled'));
    	  $('#title').prop('disabled', !enabled);
    	  $('#message').prop('disabled', !enabled);
    	  $('#dateInput').prop('disabled', !enabled);
    	  timeInputFp._input.removeAttribute('disabled');
    	  dateInputFp._input.removeAttribute('disabled');
    	  $('#timeInput').prop('disabled', !enabled);
    	  $('#phoneCheck').prop('disabled', !enabled);
    	  $('#emailCheck').prop('disabled', !enabled);
    	  
    	  
    	  //console.log($('#title').prop('disabled'));
      }
      
    </script>
</body>
</html>