<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

   <section id= "mainContentForm" class="p-3">
    <div class="container">
        <div class="row g-2">
          <h3>New Reminder</h3>
            <div class="col">
                <div class="card bg-secondary text-light">
                            <form th:action="@{/reminders}" method="post"
			th:object="${reminderForm}">
                              <div class="row m-4">
                                <label for="title" class="col-sm-2 col-form-label-lg">Title </label>
                                <div class="col-sm-9 mt-1">
                                  <input type="text" class="form-control" id="title" th:field="*{title}">
                                </div>
                              </div>
                              <div class="row m-4">
                                <label for="message" class="col-sm-2 col-form-label-lg">Message </label>
                                <div class="col-sm-9 mt-1">
                                  
                                    <input type="text" class="form-control" id="message" th:field="*{message}">
                                  
                                </div>
                              </div>
                              <div class="row m-4">
                                <label for="date" class="col-sm-2 col-form-label-lg">Remind On </label>
                                <div class="col-sm-9 mt-1">
                                  <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                      <input type="datetime-local" class="form-control" id="dateInput" th:field="*{date}">
                                    </div>
                                    <div  class="col-lg-6 col-sm-12">
                                      <input id="timeInput" type="datetime-local" class="form-control" th:field="*{time}">
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="row m-4">
                                <label for="date" class="col-sm-2 col-form-label-lg">Notification Via </label>
                                <div class="col-sm-9 mt-1 ">
                                  <div class="row">
                                    <div class="col-lg-6 col-sm-12 mt-2">
                                      <div class="row">
                                        <div class="col-2 align-self-center" style="font-size: 14px;">
                                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="isEmailIdChecked" th:field="*{emailIdChecked}">
                                          <label class="form-check-label" for="defaultCheck1">
                                            Email
                                          </label>
                                        </div>
                                        <div class="col-10">
                                          <input type="email" class="form-control" id="email" th:field="*{emailId}" disabled>
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <div class="col-lg-6 col-sm-12 mt-2">
                                      <div class="row">
                                        <div class="col-2 align-self-center" style="font-size: 14px;">
                                          <input class="form-check-input" type="checkbox" id="isPhoneNumberChecked" th:field="*{phoneNumberChecked}">
                                          <label class="form-check-label" for="isPhoneNumberChecked">
                                            SMS
                                          </label>
                                        </div>
                                        <div class="col-10">
                                          <input type="tel" class="form-control" id="sms" th:field="*{phoneNumber}" disabled>
                                        </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="col-12 text-center mb-2">
                                <button type="submit" class="btn btn-dark">Save</button>
                                <button type= "reset" class="btn btn-dark">Discard</button>
                              </div>
                            </form>       
                </div>
            </div>

        </div>
    </div>
    </section>
</html>